<%= render 'home/jumbo' unless user_signed_in?%>
<div id="zooms" class="transitions-enabled">
    <% @zooms.each do |zoom| %>

    <div class="box">
        <div class="panel panel-default">
            <%= link_to image_tag(zoom.image.url(:medium)), zoom %></br>
        <div class="panel-body">

            <%= zoom.description %></br>
        <strong><em><%= zoom.user.name if zoom.user %></em></strong></br>
</div>
<% if zoom.user == current_user %>
<div class="panel-footer">
    <%= link_to 'Edit', edit_zoom_path(zoom) %>
    <%= link_to 'Destroy', zoom, method: :delete, data: { confirm: 'Are you sure?' } %>
</br>
</div>
<% end %>

</div>
</div>
<% end %>
</div>

<div class="center">
  <%= will_paginate @zooms, renderer: BootstrapPagination::Rails %>
</div>
